<%= search_form_for @q, url: recipes_path, method: :get, html: { class: "bg-light p-4 rounded shadow-sm" } do |f| %>
  <div class="row gy-3">
    <div class="col-md-4">
      <%= f.label :base_liquor_id_eq, 'ベースのお酒', class: 'form-label fw-bold text-secondary' %>
      <%= f.collection_select :base_liquor_id_eq, BaseLiquor.all, :id, :name,
        { prompt: '選択してください' },
        class: 'form-select' %>
    </div>

    <div class="col-md-4">
      <%= f.label :difficulty_id_eq, '難易度', class: 'form-label fw-bold text-secondary' %>
      <%= f.collection_select :difficulty_id_eq, Difficulty.all, :id, :name,
        { prompt: '選択してください' },
        class: 'form-select' %>
    </div>

    <div class="col-md-4" data-controller="autocomplete" data-action="autocomplete:change->this.value=event.detail.label" data-autocomplete-url-value="<%= autocomplete_recipes_path %>" role="combobox">
      <%= f.label :name_cont, 'カクテル名で検索', class: 'form-label fw-bold text-secondary' %>
      <%= f.text_field :name_cont, data: { autocomplete_target: 'input' }, class: 'form-control', placeholder: '検索キーワードを入力' %>
      <%= f.hidden_field :name, data: { autocomplete_target: 'hidden' } %>
      <ul class="list-group" data-autocomplete-target="results"></ul>
    </div>

    <div class="col-md-4">
      <%= f.submit '検索', class: 'btn btn-primary w-100 mt-3' %>
    </div>
  </div>
<% end %>

