<%= render 'search_form'%>

<ul class="nav nav-tabs mb-3" style="border-bottom: 1px solid rgba(255, 255, 255, 0.1);">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#official" style="color: #1d2a3a; transition: color 0.3s;" onmouseover="this.style.color='#ffd700';" onmouseout="this.style.color='#1d2a3a';">公式カクテル</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#post" style="color: #1d2a3a; transition: color 0.3s;" onmouseover="this.style.color='#ffd700';" onmouseout="this.style.color='#1d2a3a';">投稿カクテル</a>
  </li>
</ul>

<div class="tab-content">
  <div id="official" class="tab-pane fade show active">
    <h1 class="text-dark" style="color: #1d2a3a;">公式カクテル一覧</h1>
    <% if @official_recipes.any? %>
      <div class="col">
        <% @official_recipes.each do |recipe| %>
          <%= render partial: "recipes/recipes-card", locals: { recipe: recipe } %>
        <% end %>
      </div>
    <% else %>
      <p class="text-dark" style="color: #1d2a3a;">カクテルが見つかりませんでした。</p>
    <% end %>
    <%= paginate @official_recipes, theme: 'bootstrap-5', params: { q: @search_params, official_page: params[:official_page], post_page: params[:post_page] } %>
  </div>

  <div id="post" class="tab-pane fade">
    <h1 class="text-dark" style="color: #1d2a3a;">投稿カクテル一覧</h1>
    <% if @post_recipes.any? %>
      <div class="col">
        <% @post_recipes.each do |recipe| %>
          <%= render partial: "recipes/recipes-card", locals: { recipe: recipe } %>
        <% end %>
      </div>
    <% else %>
      <p class="text-dark" style="color: #1d2a3a;">投稿されたカクテルが見つかりませんでした。</p>
    <% end %>
    <%= paginate @post_recipes, theme: 'bootstrap-5', params: { q: @search_params, official_page: params[:official_page], post_page: params[:post_page] } %>
  </div>
</div>
