<h1>アレンジカクテルを提案</h1>

<%= form_with url: generate_suggestion_recipes_path, method: :post, data: { turbo_frame: "suggestion_frame", controller: "loading", action: "submit->loading#show" }, html: { class: "bg-light p-4 rounded shadow-sm" } do |f| %>
  <div class="mb-3">
    <%= f.label :base, "ベースの酒", class: "form-label fw-bold text-secondary" %>
    <%= f.text_field :base, placeholder: "例: ラム、ジン", required: true, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :taste, "味の好み", class: "form-label fw-bold text-secondary" %>
    <%= f.text_field :taste, placeholder: "例: 甘め、さっぱり", required: true, class: "form-control" %>
  </div>

  <div>
    <%= f.submit "提案する", class: "btn btn-success w-100 shadow-sm" %>
  </div>
<% end %>

<%= turbo_frame_tag "suggestion_frame" do %>
  <%= render "shared/loading" %>
  <p>ここにカクテルの提案結果が表示されます。</p>
<% end %>
