<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to 'TOP', root_path, class: 'nav-link' %>
        </li>
        <% if user_signed_in? %> <!-- ユーザーがログインしている場合 -->
          <li class="nav-item dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              マイページ
            </button>
            <ul class="dropdown-menu" aria-labelledby="mypageDropdown">
              <li>
                <%= link_to '自分のカクテル一覧', my_recipes_recipes_path, class: 'dropdown-item' %>
              </li>

              <li>
                <%= link_to 'カクテル投稿', new_recipe_path, class: 'dropdown-item' %>
              </li>

              <li>
                <%= link_to 'アカウント編集', edit_user_registration_path, class: 'dropdown-item' %>
              </li>

              <li>
                <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item', data: { turbo: false } %>
              </li>
            </ul>
          </li>
        <% else %> <!-- ユーザーがログインしていない場合 -->
          <li class="nav-item">
            <%= button_to user_google_oauth2_omniauth_authorize_path do %>
              <%= image_tag 'google_login_button1.png', alt: 'Googleでログイン', class: 'google-login-btn' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>